@import './constants/shared';

// For desktop:
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  // For mobile phones:
  [class*='col-'] {
    width: 100%;
  }
}

body {
  background-attachment: fixed;
  background-color: $primary2-color;
  background-image: url('../../assets/AAF-BG.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $primary-text-color;
  font-family: 'Roboto', sans-serif, medium;

  a {
    color: $primary-text-color;
    text-decoration: none;

    &:active,
    &:visited {
      color: $primary-text-color;
    }
  }
}

.btn-register {
  background-color: $btn-bg;
  border-radius: .5em;
  border-width: 0;
  color: $primary-text-color;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 1em 2em;
}

.header-container {
  // background-color: $bar-color; // Temporary color
  font-size: 1em;
  height: auto;
  margin: 1em 0;
  padding: 1em;

  div {
    display: inline-flex;
  }

  .header-links {
    float: right;
    margin: 0;
    padding: 0;
    text-align: right;
    width: auto;

    li {
      display: inline-flex;
      font-size: 1rem;
      line-height: 1.5rem;
      list-style: none;
      padding: 0 1em;
    }
  }

  .header-site-name {
    height: 3em;
    max-width: 9em;
    padding: 0 1.5em;

    a {
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 1.5rem;
      margin: auto;
      width: auto;
    }
  }
}

footer {
  background-color: $bar-color;
  bottom: 0;
  color: $primary-text-color;
  font-size: .75rem;
  left: 0;
  line-height: 1.5rem;
  padding: 2em 0;
  position: fixed;
  width: 100%;

  a {
    &,
    &:visited,
    &:active {
      color: $primary-text-color;
    }
  }

  .footer-text {
    float: left;
  }

  li {
    display: inline;
    list-style: none;
    padding: 0 1em;
  }

  .footer-icons {
    float: right;
    padding-right: 1em;

    .fa {
      color: #FFF;
      display: inline;
      padding: 0 .5em;
    }
  }
}

.email-valid {
  border-color: #0F0;
}

.email-invalid {
  border-color: #F00;
}